/BH File Explorer NetBeans Project/nbproject/private/
/BH File Explorer NetBeans Project/build/
/BH File Explorer 2012 NetBeans Project/nbproject/private/
/BH File Explorer 2014 NetBeans Project/nbproject/private/